
.inline-block{
    display:inline-block;
    vertical-align:top;
}
.logo{
    width:23%;
    padding:1%;
    text-align:center;
}
nav{
width:73%;
padding:1%;
}
ul{
    width:50%;
    margin-left:auto;
   
}

.heroImg{
    height:600px;
    padding:25px;
}

.content{
    width:500px;
    margin:0 auto;
}

footer{
    background-color:#373738;
    padding: 100px;
}
footer ul{
    display:inline-block;
    vertical-align:top;
    padding:100px;
}
.flexContainer{
    display:flex;
    width:33%;
}
.workGrid{
    display:grid;
    grid-template-areas:"Travelpass"
                        "Spark";
    grid-template-rows: 100px;
    grid-template-columns: 100px;   
}

@media only screen and (max-width: 600){
    .flexContainer{
        display:flex;
    flex-direction:column;
    width:100%;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 100px;
    grid-template-areas: 
    "TravelPass"
    "Spark";
}}